<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <title>Facelet Title</title>
  </h:head>
  <h:body>
    Hello from Facelets
    <h:form>
      
      <h:outputText value="mail: " /> <h:inputText value="#{controller.mail}" /> <br/>
      <h:outputText value="subject: " /> <h:inputText value="#{controller.subject}" /> <br/>
      <h:outputText value="body: " /> <h:inputText value="#{controller.body}" /> <br/>

      <h:commandButton action="#{controller.sendMail()}" value="Mail"/>

      
      <h:commandButton action="#{controller.asyncProcess()}" value="Async"/>
      <h:commandButton action="#{controller.syncProcess()}" value="Sync"/>

    </h:form>
  </h:body>
</html>

