<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       lorem ipsum
       <h:form>
            Welcome to our site!<br />
            Username: <h:inputText value="#{userManagedBean.username}" /> <br />
            Password: <h:inputSecret value="#{userManagedBean.password}" /> <br />
            <h:outputText value="#{userManagedBean.message}" /> <br />
            <h:commandButton action="#{userManagedBean.getCompleted}" id="Register" value=" Register " /> 
            <br />
        </h:form>
       
    </h:body>
</html>

